.continer
{
	width:100%;
}
.upper
{
	background-color: black;
	height:10vh;

}
.continer2
{
	width:70%;
	height:68vh;
	margin-left:270px ;
}
.header{
	margin-top: 10px;
	width:100%;
	background-color: red;
	height: 15vh;

}
.navigation
{

	width: 18%;
	background-color: blue;
	height:35vh;
	float:left;
}
.content
{
	margin-top: 10px;
	width:100%;

}
.A
{
    margin-left: 10px;
	float:left;
	text-align:center;
	background-color: yellow;
	width:65.25%;
	height:35vh;

}
.sidebar
{ 
	margin-top: 10px;
	float:right;
	width:15%;
	height: 20vh;
	background-color: green;
}
.B
{
	
	margin-top: 10px;
	float:right;
	background-color: yellow;
	width: 16%;
	height: 13vh;
}
.footer
{
	margin-top: 10px;
	width:100%;
	height:15vh;
	background-color: lightblue;
	float:left;
}
.continer3
{
	width: 100%;
}
.lower
{

	background-color: black;
	height: 10vh;
	margin-top: 10px;
}